body {
  width: 500px;
  margin: auto;
  padding-bottom: 40px;
  background-color: #dde;
  font-variant: small-caps;
}

header {
  position: relative;
  margin: 0 0 40px 0;
  padding: 12px;
  border-bottom: solid 1px #999;
}

header .logo {
  width: 140px;
}

header h1 {
  margin: 0;
}

header h1 a {
  font-size: 32px;
  color: #66f;
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: none;
}

header nav {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: #66f;
}

header nav a:hover {
  text-decoration: none;
}

.icons li {
  list-style: none;
  display: inline-block;
}

.icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 116px;
  padding-bottom: 8px;
  margin: 3px;
  border: solid 1px #999;
  border-radius: 6px;
  text-decoration: none;
  background-color: #fff;
  transition: border-color .3s, background-color .3s;
}

.icons a:hover {
  background-color: #bbf;
  border: solid 1px #666;
  box-shadow: 0 3px 6px #aaf;
}

.icons svg {
  display: block;
  width: 32px;
  stroke: #000;
  fill: #000;
}

.icon-title {
  color: #66f;
}

.icon-box {
  margin-top: 32px;
  padding: 12px;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 6px;
}

.icon-box hr {
  border-top: solid 1px #bbb;
}

.icon-box svg.icon {
  margin: 24px;
}

svg.icon.x16 {
  width: 16px;
  height: 16px;
}

svg.icon.x32 {
  width: 32px;
  height: 32px;
}

svg.icon.x48 {
  width: 48px;
  height: 48px;
}

svg.icon.x64 {
  width: 64px;
  height: 64px;
}

svg.icon.x128 {
  width: 128px;
  height: 128px;
}

svg.icon.x192 {
  display: block;
  width: 192px;
  height: 192px;
}

.example {
  background-color: white;
  padding: 16px;
  border-radius: 3px;
  font-variant: normal;
}

.example.panels .panel {
  margin-bottom: 0;
}

.example.panels .icon {
  margin-right: 12px
}

.example.cards .card {
  display: flex;
}

.example.cards .icon-container {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  margin-right: 24px;
  border: solid 2px #555;
  border-radius: 16px;
  opacity: 0.6;
}
